.tabs button {
  background-color: white;
  border: none;
  padding: 10px 50px;
  margin: 20px;
  color: black;
  cursor: pointer;
}
.imageContainer{
  width: 200px;
}
.imageContainer img{
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: contain;
}